body {
  padding:0px;
}

nav .navbar{
  margin-top:10px;
}
div.page-header {
  margin-top: 0px;
  margin-bottom:0px;
  background: #d6d2cc;
  padding-left:40px;
  padding-right:40px;
}

div.page-header img{
  position:relative;
  left:-70px;
}

div.upcoming{
  background:#166374;
  color: #d6d2cc;
  padding: 10px 40px 20px 40px;

}
div.upcoming table{
  color: #d6d2cc;
  border: 2px;
  border-padding:2px;
}

div.upcoming table a{
  color:Red;
}

div.upcoming h1{
  margin-top:0px;
  border-top:0px;
}

div.megagames{
  background:#3e3e3e;
  color: #d6d2cc;
  padding-left:40px;
  padding-right:40px;
}

div.megagames .well{
  color:black;
}

div.faq{
  background:#aa1d1d;
  color: #d6d2cc;
  padding-left:40px;
  padding-right:40px;
  margin-bottom:50px;
}

div.faq .panel-body{
  color:black;
}
